<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<html lang="en">
<head>
    New Post
</head>
<div>
    <form th:action=$"{postRegister}" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요.">

            <label for="author">Author</label>
            <input type="text" id="author" name="author" placeholder="작성자를 입력하세요.">

            <label for="content">Content</label>
            <input type="text" id="content" name="content" placeholder="내용을 입력하세요.">

            <!--TODO: Meida URI 추가하기-->
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</html>