<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
  <!--@{userRegisterForm}-->
  <form action="/users/new" method="post">
    <div class="form-group">

      <label for="realName">이름</label>
      <input type="text" id="realName" name="realName" placeholder="이름을 입력하세요.">

      <label for="username">유저 이름</label>
      <input type="text" id="username" name="username" placeholder="이름을 입력하세요.">

      <label for="introduction">Self Introduction</label>
      <input type="text" id="introduction" name="introduction" placeholder="자기를 소개할 수 있는 문장을 입력해주세요.">

      <label for="userStatus">Membership</label>
      <input type="checkbox" id="userStatus" name="userStatus" value="membership">
    </div>
    <button type="submit">등록</button>
  </form>
  </div>

</body>
</html>