<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div>
        <p>Information about User</p>
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>#</th>-->
<!--                <th>Post Title</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="post : ${posts}">-->
<!--                <td th:text="${post.id}"></td>-->
<!--                <td th:href="posts/${post.id}">$[[post.title]]</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
    </div>
</div>

</body>
</html>